@model FASTWeb.Models.FixAssetViewModel

@{
    ViewBag.Title = "New Fix Asset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>New Fix Asset</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@using (Html.BeginForm("SaveNewAsset", "FixAsset", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control", @autofocus="autofocus" })
                @Html.ValidationMessageFor(model => model.SerialNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssetTag, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AssetTag, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssetTag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Brand, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Brand)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AcquisitionDate, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AcquisitionDate, new { @class="form-control", @id="adate"})
                @Html.ValidationMessageFor(model => model.AcquisitionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ExpiryDate, new { @class = "form-control", @id = "edate" })
                @Html.ValidationMessageFor(model => model.ExpiryDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issuer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IssuerID, new SelectList(ViewBag.Issuer, "IssuerID", "IssuerName"), "Choose one", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Issuer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LocationID, new SelectList(ViewBag.Location, "LocationID", "LocationName"), "Choose one", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssetType, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssetTypeID, new SelectList(ViewBag.AssetType, "AssetTypeID", "TypeDescription"), "Choose one", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssetTypeID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AssetClass, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssetClassID, new SelectList(ViewBag.AssetClass, "AssetClassID", "ClassDescription"), "Choose one", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssetClassID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
            </div>
        </div>
        <div class="form-group" style="visibility:hidden">
            @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model)
                @Html.ValidationMessageFor(model => model.Model)
            </div>
        </div>
        <div class="form-group" style="visibility:hidden">
            @Html.LabelFor(model => model.AssetStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AssetStatusID, new { @class = "form-control", disabled = false })
                @Html.ValidationMessageFor(model => model.AssetStatusID)
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#adate").datepicker({ dateFormat: 'mm/dd/yy' });
        $("#edate").datepicker({ dateFormat: 'mm/dd/yy' });
    });
</script>
