@using Common;
@{
   
    ViewBag.Title = "MIS";

    List<vwAssetAssignmentsForMI> acceptances = new List<vwAssetAssignmentsForMI>();
    List<vwAssetAssignmentsForMI> assignments = new List<vwAssetAssignmentsForMI>();

    acceptances = ViewBag.Acceptances;
    assignments = ViewBag.Assignments;

    var listAcceptances = new WebGrid(acceptances, canPage: true, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "acceptContainer");
    listAcceptances.Pager(WebGridPagerModes.NextPrevious);

    var listAssigns = new WebGrid(assignments, canPage: true, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "assignContainer");
    listAssigns.Pager(WebGridPagerModes.NextPrevious);


}
<br />

<div class="container-fluid">

    <div>
        <div class="panel-info col-lg-3">
            <div class="panel-heading">
                <span class="panel-title" />
            </div>
            <div class="panel-body" style="background-color:aliceblue">
                <center>
                    <img src="~/Images/MIS.jpg" width="200" height="200" class="img-rounded" />
                </center>
            </div>
            <div class="panel-body" style="background-color:whitesmoke">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Asset Tag">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Track</button>
                    </span>
                </div>
            </div>
            <div class="panel-body panel-primary" style="background-color:whitesmoke">
                <div class="panel-heading">
                    <h4 class="panel-title">Reports</h4>
                </div>
                <div class="list-group list-group-item-info">
                    <div class="btn-group btn-block">
                        <div class="btn-group btn-block">
                            <a class="list-group-item dropdown-toggle btn-block" aria-expanded="true" href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>Fix Assets
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="list-group-item" href="@Url.Action("FixAssetReport","Report")">Assets Assigned to MIS</a></li>
                                <li><a class="list-group-item" href="@Url.Action("Unavailable","Home")">Assets Waiting for Acceptance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="background-color:snow">
            </div>
        </div>
        <div class="panel-info col-lg-9">
            <div class="panel-info">
                <div class="panel-body" style="height: 200px;background-image:url('../Images/fujitsu_infinity_1.png');background-repeat:no-repeat;background-position:right">
                    <h2>Management Information System</h2>
                    @*<blockquote>
                            <h4>Number of employees : 12</h4>
                            <h4>Number of assets assigned :</h4>
                        </blockquote>*@
                    <p style="padding-left:10px">
                        <a href="#assignments" class="text-primary"><span class="glyphicon glyphicon-bookmark text-success"></span>Assignments   <span class="badge">(@assignments.Count())</span></a> <br />
                        <a href="#acceptances" class="text-primary"><span class="glyphicon glyphicon-bookmark text-success"></span>For Acceptance   <span class="badge">(@acceptances.Count())</span></a>
                    </p>
                </div>
            </div>
            <br />
            <hr />
            <div class="panel-info">
                <a name="acceptances"></a>
                <div class="panel-heading">
                    <h3 class="panel-title">Waiting for Acceptance</h3>
                </div>
                <div class="panel-body" id="acceptContainer">
                    @listAcceptances.GetHtml(tableStyle: "table table-striped table-hover", headerStyle: "header", alternatingRowStyle: "alternateRow", selectedRowStyle: "select",
                                columns: listAcceptances.Columns(
                                listAcceptances.Column("AssetAssignmentID", "Assign ID", canSort: true, style: "col-lg-2"),
                                listAcceptances.Column("AssetTag", "Asset Tag", canSort: true, style: "col-lg-3"),
                                listAcceptances.Column("Owner", "Owner", canSort: false, style: "col-lg-2"),
                                listAcceptances.Column("StatusDescription", "Asset Status", canSort: false, style: "col-lg-3"),
                                listAcceptances.Column(format: (item) => Html.ActionLink("Manage", "ManageAssignment", "Assignment", new { assignID = item.AssetAssignmentID }, new { @class = "" }), style: "column-action")
                        ))
                </div>
                <div class="panel-info">
                    <a name="assignments"></a>
                    <div class="panel-heading">
                        <h3 class="panel-title">Assignments</h3>
                    </div>
                    <div class="panel-body" id="assignContainer">
                        @listAssigns.GetHtml(tableStyle: "table table-striped table-hover", headerStyle: "header", alternatingRowStyle: "alternateRow", selectedRowStyle: "select",
                        columns: listAssigns.Columns(
                        listAssigns.Column("AssetAssignmentID", "Assign ID", canSort: true, style: "col-lg-2"),
                        listAssigns.Column("AssetTag", "Asset Tag", canSort: true, style: "col-lg-3"),
                        listAssigns.Column("Owner", "Owner",canSort: false, style: "col-lg-2"),
                        listAssigns.Column("StatusDescription", "Asset Status", canSort: false, style: "col-lg-3"),
                                 listAssigns.Column(format: (item) => Html.ActionLink("Manage", "ManageAssignment", "Assignment", new { assignID = item.AssetAssignmentID }, new { @class = "" }), style: "column-action")
                        ))
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<br />